* { font-family: sans-serif; font-size: 12px; font-weight: 400; line-height: 15px; letter-spacing: 1px; }
@page { margin: 0px; }
body { background: #ccc; margin: 0px; padding: 0; }
#skjema { position: relative; display: block; width: 210mm; height: 296.8mm; }
.front {}
.back { height: 296mm; }
.form_image { width: 210mm; height: 296mm; }
.box { border: 0; margin: 0; padding: 0; position: absolute; color: #000; background: none; }
#box010 { top: 556px; left: 239px; width: 412px; height: 18px; }
#box011 { top: 593px; left: 257px; width: 394px; height: 18px; }
#box012 { top: 630px; left: 194px; width: 183px; height: 18px; }
#box013 { top: 630px; left: 431px; width: 220px; height: 18px; }
#box014 { top: 667px; left: 315px; width: 336px; height: 18px; }
#box015 { top: 705px; left: 212px; width: 142px; height: 18px; }
#box016 { top: 743px; left: 260px; width: 74px; height: 18px; }
#box017 { top: 743px; left: 534px; width: 74px; height: 18px; }
#box018 { top: 872px; left: 268px; width: 130px; height: 18px; }
#box019 { top: 910px; left: 178px; width: 473px; height: 18px; }
#box020 { top: 947px; left: 193px; width: 458px; height: 18px; }
#box021 { top: 984px; left: 193px; width: 185px; height: 18px; }
#box022 { top: 984px; left: 430px; width: 221px; height: 18px; }
